.navigation{
    height: 74px;
    display: flex;
    font-family: var(--font1);
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    
}
.content{
    height: 95px;
    background-color:blanchedalmond;
}
.footer{
    height: 50px;
    background-color: purple;
}
*{
    margin: 0;
    padding: 0;
}
.nav-left{
    display: flex;
}
.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;
    padding-bottom: 23px;
}
.nav-left ul li{
    list-style: none;
    font-family: var(--font2);
    margin:0 10px
}
.nav-left ul li a{
    text-decoration: none;
    color: black;
}
.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}
.xyz{
    display: flex;
}
.content{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 32px;
    padding: 9px;
    position: relative;
}
.content-left{
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 49px;
    z-index: 1;
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img{
    height: 355px;
    border: 2px solid black;
    border-radius: 200px;
}
.content::after{
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    align-items: center;
    justify-content: center;
    color: white;
}
.footer a{
    color: white;
}
.year-box{
    position: absolute;
    right: 0px;
    top: 100px;
    width: 234px;
    height: 255px;
    font-size: 18px;
}
.year-box div{
    margin: 12px 0px;
}
.home-articles{
    padding: 18px;
    background-color: rgb(248, 239, 239, 0.5);
    margin-top: 23px;
    position: relative;
}
.home-article{
    display: flex;
    margin: 25px;
}
.home-article img{
    width: 300px;
}
.home-article-content{
    align-self: center;
    padding: 25px;
}
.home-article-content a{
    color: black;
    text-decoration: none;
}
